.pln {
  color: #c5c8c6;
}
@media screen {
  .str {
    color: #b5bd68;
  }
  .kwd {
    color: #b294bb;
  }
  .com {
    color: #969896;
  }
  .typ {
    color: #81a2be;
  }
  .lit {
    color: #de935f;
  }
  .pun {
    color: #c5c8c6;
  }
  .opn {
    color: #c5c8c6;
  }
  .clo {
    color: #c5c8c6;
  }
  .tag {
    color: #cc6666;
  }
  .atn {
    color: #de935f;
  }
  .atv {
    color: #8abeb7;
  }
  .dec {
    color: #de935f;
  }
  .var {
    color: #cc6666;
  }
  .fun {
    color: #81a2be;
  }
}
@media print,projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
pre.prettyprint {
  background: #1d1f21;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
html {
  background: #333;
}
body {
  background: url('../img/satinweave.png') repeat;
}
div {
  display: inline-block;
}
div.one-spare-piece {
  display: inline-block;
}
div#body_container {
  min-height: 700px;
  padding: 30px 0px;
}
div#footer {
  background: #333;
  color: #999;
  padding: 18px 0px;
}
div#footer div.row {
  background: #333;
}
div#footer a {
  color: #fff;
}
div#footer p {
  font-size: 12px;
  margin-bottom: 0px;
}
div#left_footer a {
  text-decoration: underline;
}
div#left_footer a:hover {
  text-decoration: none;
}
div#right_footer {
  text-align: right;
}
div#right_footer a {
  color: #fff;
  font-size: 12px;
  padding: 0px 8px;
  text-decoration: none;
}
div#right_footer a:hover {
  text-decoration: underline;
}
div.row {
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
div.top-bar li a {
  color: #fff;
  display: block;
  font-family: 'Open Sans';
  font-weight: normal !important;
  font-size: 13px;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  text-decoration: none;
}
div.top-bar li.name a {
  font-weight: bold !important;
}
div.top-bar li.active,
div.top-bar li:hover {
  background: #000;
}
div.top-bar li.active a,
div.top-bar li a:hover {
  color: #d9d9d9;
}
small {
  font-size: 80%;
}
input.demo-btn {
  margin-top: 15px;
}
div.section {
  padding: 0px 0px 15px 0px;
}
input#runAgainBtn {
  margin-top: 12px;
}
h2#example_name {
  margin-top: 0px;
}
div#examples_list_container h4 {
  background: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 3px solid #ccc;
  color: #555;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
  padding: 15px 20px;
}
div#examples_list_container h4.active {
  background: #4d4d4d;
  border-top: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  border-left: 4px solid #1a1a1a;
  color: #fff;
  font-weight: bold;
}
div#examples_list_container ul {
  border-left: 3px solid #eee;
  border-right: 1px solid #eee;
  margin-bottom: 0px;
  padding: 10px 0px;
}
div#examples_list_container li {
  color: #666;
  cursor: pointer;
  list-style: none;
  padding: 5px 0px 5px 20px;
}
div#examples_list_container li:hover {
  color: #222;
}
div#examples_list_container li.active {
  color: #222;
  font-weight: bold;
}
div#example_html_container {
  margin-bottom: 40px;
}
div#example_js_container pre {
  overflow-x: hidden;
}
div.etymology {
  margin: 30px 0px;
}
div.word {
  font-size: 26px;
  margin-bottom: 20px;
}
div.part-of-speech {
  color: #878787;
  margin-bottom: 6px;
}
div.definition {
  font-style: italic;
}
div.example {
  padding: 40px 0px;
  margin-bottom: 300px;
}
code {
  background: none;
  color: #000;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 13px;
  font-weight: normal;
}
code.plain {
  color: #d94d3a;
}
code.html,
code.keyword {
  color: #0066cc;
}
code.string {
  color: blue;
}
code.number {
  color: #7f0000;
}
pre {
  font-size: 14px;
}
a {
  text-decoration: underline;
}
td.center {
  text-align: center;
}
hr.divider {
  margin: 50px 0px;
}
div.release li {
  list-style: none;
}
ul.disc li {
  list-style: disc;
}
table#markup_example_tbl {
  width: 100%;
  margin-bottom: 400px;
  border: 0px;
}
table#markup_example_tbl tr {
  background: #fff;
}
table#markup_example_tbl td {
  width: 50%;
  padding: 20px;
  padding-bottom: 250px;
}

#example_html_container input, input.btn, button.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: auto;
  background: #2ba6cb;
  border: 1px solid #1e728c;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;

  -webkit-appearance: button;
  cursor: pointer;

  margin-top: 15px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;  
}

thead.center th {
  text-align: center;
}
